<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		point="org.eclipse.ui.startup"
		id="autoderiv.handlers.StartupHandler"
		name="startup handler">
		<startup
			class="autoderiv.handlers.StartupHandler">
		</startup>
	</extension>

	<extension
		point="org.eclipse.ui.decorators">
		<decorator
			id="autoderiv.handlers.Decorator"
			label="AutoDeriv: decorate derived resources"
			state="true"
			class= "autoderiv.handlers.Decorator"
			adaptable="true"
			lightweight="true">
			<description>
				This decorate resources with their "derived" attribute set.
			</description>
		</decorator>
	</extension>

</plugin>
